[submodule "ws-frontend-community"]
	path = ws-frontend-community
	url = https://github.com/lavalamp-/ws-frontend-community.git
[submodule "ws-backend-community"]
	path = ws-backend-community
	url = https://github.com/lavalamp-/ws-backend-community.git
